.task-box-new-task {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
}

.check-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkBox-icon {
  align-self: flex-end;
  height: 40px;
  width: 30px;
}

.due-date-box-new-task {
  flex: 1;
  margin-top: 24px;
}

.footer-new-task {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 0 28px;
}

.footer-details-new-task {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 22px;
}
