.card-activity-log {
  padding: 0;
}

.box-header-activity-log {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.title-activity-log {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  color: #092c4c;
  line-height: 30px;
}

.box-content-activity-log {
  display: flex;
  align-items: flex-start;
  margin-bottom: 18px;
  gap: 18px;
  cursor: pointer;
  width: 100%;
}

.date-log-activity-log {
  color: #7e92a2;
  font-weight: 400;
}

.text-log-activity-log {
  color: #092c4c;
  font-weight: 500;
}

@media (max-width: 447px) {
  .log-image-activity-log-card {
    width: 100%;
    height: 100%;
  }

  .log-content-activity-log-card {
    margin: 0 24px;
  }
}
