.text-field-customer-page {
  color: #7e92a2;
  border-radius: 8px;
  background-color: #eef6fb;
  border: 1px solid #eaeef4;
}

.typography-customer-page {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16;
  line-height: 30px;
  color: #092c4c;
}
