.tableHead {
  color: #7e92a2;
  font-size: 16px;
}

.iconCell {
  color: #7e92a2;
  height: 24px;
  width: 24px;
}

.textBody {
  font-size: 16px;
  color: #092c4c;
  font-weight: 400;
}

.tableRow {
  border-bottom: 1px solid #eaeef4;
}

.tableRow:hover {
  background-color: #f9f9f9;
}

@media (max-width: 426px) {
  .titleSectionHeader {
    font-size: 14px;
  }

  .filterButton {
    font-size: 12px;
    padding: 10px;
  }

  .tableHead {
    font-size: 14px;
  }

  .textBody {
    font-size: 14px;
  }
}
