.titleTypography {
  line-height: 30px;
  color: #7e92a2;
  line-height: 30px;
}

.Typography {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #526477;
  display: block !important;
}

/* .customerDetails {
  display: -ms-inline-grid;
} */

@media (max-width: 447px) {
  .customerDetails {
    flex-direction: column;
  }

  .dealImage {
    width: 100%;
    height: 100%;
  }
}
